# Fixing `cyl` Data Type
- 2008: extract int from string
- 2018: convert float to int

In [1]:
# loading the datasets
import pandas as pd

df08 = pd.read_csv('data_08_v2.csv')
df18 = pd.read_csv('data_18_v2.csv')

In [2]:
# check value counts for the 2008 cyl column
df08['cyl'].value_counts()

(6 cyl)     409
(4 cyl)     283
(8 cyl)     199
(5 cyl)      48
(12 cyl)     30
(10 cyl)     14
(2 cyl)       2
(16 cyl)      1
Name: cyl, dtype: int64

In [5]:
# Extract int from strings in the 2008 cyl column
df08['cyl'] = df08['cyl'].str.extract('(\d+)').astype(int)

In [6]:
# Check value counts for 2008 cyl column again to confirm the change
df08['cyl'].value_counts()

6     409
4     283
8     199
5      48
12     30
10     14
2       2
16      1
Name: cyl, dtype: int64

In [15]:
# convert 2018 cyl column to int
df18['cyl'] = df18['cyl'].astype(int)

In [16]:
# Check value counts for 2018 cyl column to confirm the change
df18['cyl'].value_counts()

4     365
6     246
8     153
3      18
12      9
5       2
16      1
Name: cyl, dtype: int64

In [17]:
df08.to_csv('data_08_v3.csv', index=False)
df18.to_csv('data_18_v3.csv', index=False)