#### Q5: For all of the models that were produced in 2008 that are still being produced now, how much has the mpg improved and which vehicle improved the most?

In [1]:
# load dataset
import pandas as pd

df = pd.read_csv('combined_dataset.csv')

In [2]:
model_mpg = df.groupby('model').mean()[['cmb_mpg_2008','cmb_mpg']]

In [3]:
model_mpg.head()

           cmb_mpg_2008    cmb_mpg
model
ACURA RDX     19.000000  22.500000
AUDI A3       23.333333  28.000000
AUDI A4       21.000000  27.000000
AUDI A6       19.666667  25.666667
AUDI A8 L     16.500000  22.000000

In [5]:
model_mpg['mpg_change'] = model_mpg['cmb_mpg'] - model_mpg['cmb_mpg_2008']

In [6]:
model_mpg.head()

           cmb_mpg_2008    cmb_mpg  mpg_change
model
ACURA RDX     19.000000  22.500000    3.500000
AUDI A3       23.333333  28.000000    4.666667
AUDI A4       21.000000  27.000000    6.000000
AUDI A6       19.666667  25.666667    6.000000
AUDI A8 L     16.500000  22.000000    5.500000

In [8]:
max_change = model_mpg['mpg_change'].max()
max_change

16.53333333333334

In [9]:
model_mpg[model_mpg['mpg_change'] == max_change]

             cmb_mpg_2008  cmb_mpg  mpg_change
model
VOLVO XC 90     15.666667     32.2   16.533333